.hotSpotter {
    position: relative;
}

.hotSpotter .hotSpotter-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hotSpotter .hotSpotter-inner .hotspotter-dummy-dot {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    pointer-events: none;
}

.hotSpotter .hotSpotter-inner .hotspotter-dot {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid green;
    cursor: pointer;
    box-sizing: border-box;
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 300px;
    padding: 20px;
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
    -ms-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.collapsed {
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
    visibility: hidden;
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.top {
    -ms-transform-origin: top center;
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon:after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    border-width: 10px; /* Tailsize */
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.left:after {
    border-color: transparent #FFFFFF transparent transparent;
    top: calc(50% - 10px); /* <-- Tailsize */
    left: -20px; /* <-- Tailsize * 2 */
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.right:after {
    border-color: transparent transparent transparent #FFFFFF;
    top: calc(50% - 10px); /* <-- Tailsize */
    right: -20px; /* <-- Tailsize * 2 */
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.top:after {
    border-color: transparent transparent #FFFFFF transparent;
    top: -20px; /* <-- Tailsize * 2 */
    left: calc(50% - 10px); /* <-- Tailsize */
}

.hotSpotter .hotSpotter-inner .hotspotter-balloon.bottom:after {
    border-color: #FFFFFF transparent transparent transparent;
    bottom: -20px; /* <-- Tailsize * 2 */
    left: calc(50% - 10px); /* <-- Tailsize */
}